.wrapper {
  min-height: 100%; 
  margin: 70px;
}

dt{
  margin: 10px;
}
.imageSearch{
  margin-top: 20%;
  margin-left: 20%;
  width: 600px;
}
.searchForm{
  padding:10px;  
  border-color: #758696;
  border-style: solid; 
}

h4{
  text-align: center;
  color: #ff4d4d;
}


