.wrapper {
  min-height: 100%; 
  margin:30px;
}

dt{
  margin: 10px;
}
.imageSearch{
  margin-top: 30%;
  margin-left: 30%;
  width: 400px;
}
.searchForm{
  margin:10px;  
}

h4{
  text-align: center;
}


