.footer {
  min-height: 100px;
  background: white;
  position: relative;
  text-align: center;
}
.links{
  font-size: 48px;
  color: #758696;

}
.footer span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 3px;
  background: #c2e5fc;
  text-align: center;
  color: #758696;
  display: inline;
}
.fab{
  margin-left: 20px;
}
