.navBar{
    box-shadow: 10px 10px 5px grey;
  }
  
h1{
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 3px;
    font-size: 70px;  
    color: #ff4d4d; 
    text-shadow: 3px 2px #758696;
    animation-name: title;
    animation-iteration-count: infinite;
    animation-duration: 30s;
}
/* The animation code */
@keyframes title {
    0%   {color: #ff4d4d;}
    50%  {color: #0a8a84;}
    100%  {color: #c2e5fc;}
  }

.mr-auto{
    font-size: 48px;
      
}

.fas{
    margin-left: 40px;
    margin-right: 40px;
    color: #758696;
    
}