.heroNav {
  height: 228px;
  background-size: cover;
  background-position: center;
  position: relative;

}

.heroNav::after {
  content: "";
  display: block;
  opacity: .4;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.heroNav * {
  position: relative;
  z-index: 2;
}

.heroNav h1{
  color: white;
  font-size: 60px;
  padding-top: 140px; 
  margin-top: 25px;
  text-align: center;
}
